body {
  font-family: arial, sans-serif;
}

h1 {
  color: #6b6666;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
  margin-bottom: 10px;
}
.alert {
  padding-left: 0px;
}

#city,
#country {
  color: #888484;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
  margin-bottom: 10px;
}

#city2,
#country2 {
  color: #575454;
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#date2,
#situation2 {
  color: #575454;
  font-size: 14px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
}

.today {
  margin-bottom: 5 px;
  margin-top: 5px;
}
.days {
  margin-bottom: 5 px;
  margin-top: 10px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.weather-small {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
}

.temperature2 {
  color: rgb(33, 33, 33);
  font-size: 35px;
  font-weight: 100;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}

.btn {
  font-size: 12px;
}

.footer {
  font-family: monospace;
  font-weight: lighter;
  font-size: small;
  margin-top: 25px;
}
